@font-face {
    font-family: "QingKeBen";
    src: url("/misc/QingKeBen.ttf");
}

img {
    width: 380px;
}

body {
    font-family: "QingKeBen";
}


a.link {
    color: rgb(33, 125, 194);
}

a:visited {
    color: rgb(159, 48, 165);
}
