@font-face {
    font-family: "QingKeBen";
    src: url("/misc/QingKeBen.ttf");
}

img {
    width: 380px;
}

body {
    font-family: "QingKeBen";
}


a:link {
    color: rgb(33, 125, 194);
}

a:visited {
    color: rgb(159, 48, 165);
}

@media screen and (min-width: 800px) {
    /* floating TOC */
    #table-of-contents  {
        background-color: white;
        position: fixed;
        top: 5%;
        right: 2%;
    }
    /* centered content */
    body {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
}
