@font-face {
    font-family: "QingKeBen";
    src: url("blog.casouri.co.uk/misc/QingKeBen.ttf");
}

img {
    width: 400px;
}

body {
    margin: auto;
    width: 50%;
    font-family: "QingKeBen";
}


