archive.casouri.cc {
	file_server
	log {
		output file caddy.log
		format console
	}
	redir /like /server/reply-like.html 303
}

archive.casouri.cat {
	redir https://archive.casouri.cc{uri} permanent
}

media.volatile.casouri.cc {
	root * rock/day/media
	file_server browse
}

jellyfin.casouri.cat {
	reverse_proxy 127.0.0.1:7963
}

blanche.casouri.cat {
	reverse_proxy 127.0.0.1:20003
}
