/* This is the new stylesheet used by new blogs on Pollen. */
/* This style sheet configures the basic style across the whole site. */

@import url("./typeface.css");

html {
    --background: #fefcfc;
    /* --foreground: #202010; */
    /* --foreground: #101010; */
    --foreground: #000000;
}

body {
    font-family: Charter, 方正FW筑紫明朝R改, serif;
    font-size: 22px;
    line-height: 1.4;
    background-color: var(--background);
    color: var(--foreground);
    margin-bottom: 3em;
}

body:lang(zh) {
    line-height: 1.55;
}

blockquote { font-style: italic; }

blockquote:lang(zh) {
    font-style: normal;
    font-family: Charter, 方正聚珍新仿, serif;
}

html:lang(zh) p {
    text-align: justify;
}

/*** Macro markups */

.cjk-emphasize {
    text-emphasis-position: under right;
    text-emphasis-style: dot;
}

.zh-alt { font-family: 方正聚珍新仿, serif; }

.full-width-mark { font-family: 方正FW筑紫明朝R改, serif; }

.squeeze, .last-punc-in-link { font-feature-settings: "halt"; }

.jpns { font-family: Charter, Source Han Serif JP, serif; }

.trad { font-family: Source Han Serif TC; }

.center {
    display: flex;
    justify-content: center;
}

/*** Colors */

::selection {
    color: var(--background);
    background-color: var(--foreground);
}

:link, :visited {
    color: var(--foreground);
    /* text-decoration: underline; */
    /* text-decoration-style: dotted; */
    /* text-underline-offset: 0.15em; */
}

a { text-decoration: none; }

a:hover {
    background: #fbeaea;
    transition-property: background;
    transition-duration: 0.2s;

    border-radius: 8px;
}

a:after {
    /* Asterisk has size and height issue, emoji characters are displayed
       as emoji in some places, the rest symbol Unicode are good (like
       this one). */
    content: "\FEFF✶";
    color: #933;
    /* We fix the size of the ✶ symbol. If we use relative font size, it
       becomes too small in small text. */
    font-size: 15px;
    /* Align to top so it looks like superscript when the body text is
       large. And when the body text is small, the symbol looks like
       inline and doesn’t heighten the line. */
    vertical-align: top;
    font-weight: bold;
}
.obviously-a-link a:after { content: none; }
a.obviously-a-link:after { content: none; }

hr { border-color: var(--foreground); }

/*** Body text */

.title h1 {
    font-weight: normal;
    font-size: 50px;
    margin: 0;
}
.title {
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.subtitle {
    margin: 0;
    /* color: gray; */
    /* font-size: 0.9em; */
    font-style: italic;
}

h2, h3 {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    /* Same as body text. */
    font-size: 22px;
}

h2 { font-weight: bold; }
h3 {
    font-style: italic;
    font-weight: normal;
}

p {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

code, pre.code-block {
    font-family: IBM Plex Mono, ui-mono, monospace;
    /* overflow-x: scroll; */
    font-size: 16px;
}

figcaption {
    margin-top: 1em;
    font-size: 15px;
    text-align: center;
}

figure {
    /* Override browser default margins. */
    margin-inline-start: 0;
    margin-inline-end: 0;
}

figure img {
    margin: auto;
    display: block;
}

img {
    width: 100%;
    margin: auto;
}

img.half300 { width: max(50%, 300px); }
img.twothird400 { width: max(66%, 400px); }

/*** Numbered headers */

body {
    counter-reset: section-counter subsection-counter;
}
.section {
    counter-increment: section-counter;
    counter-reset: subsection-counter;
}
.subsection {
    counter-increment: subsection-counter;
}
.section:before {
    content: counter(section-counter) "\00a0";
}
.subsection:before {
    content: counter(section-counter) "."
             counter(subsection-counter) "\00a0";
}

/*** Header */

#header {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    font-family: Helvetica;
}

/*** Description list */

dt {
    margin-bottom: 0.5em;
}

/*** Postamble */

#postamble {
    margin-top: 3em;
    font-size: 15px;
}

#postamble p {
    margin-bottom: 0;
    margin-top: 0;
}

.like-button { margin-bottom: 3em; }

/*** Footnote */

.footref-anchor { word-wrap: break-word; }
sup.inline-footref {
    all: revert;
    font-size: 0.7em;
    vertical-align: super;
    font-weight: 900;
    margin-left: 0.2em;
    text-decoration: none;
    color: #933;
}

.def-footref a {
    margin-right: 1em;
    color: #933;
    font-weight: 900;
    font-size: 15px;
}

.footdef {
    display: flex;
    font-size: 17px;
    margin-bottom: 1em;
    /* This way links are also set to gray */
    --foreground: gray;
    color: var(--foreground);
}

.footdef code { font-size: 15px; }

/*** Tables */

table {
    border-collapse: collapse;
    /* border-style: solid none; */
    /* border-width: 1px 0; */
}

td, th {
    text-align: left;
    padding: 0 1em;
}

/*** Like button */

button.like {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--foreground);
    font-size: 20px;
    margin: 0 5px 5px 0;
    /* border-radius:0.12em; */
    box-sizing: border-box;
    text-decoration: none;
    font-family: Helvetica;
    background-color: var(--background);
    text-align: center;
    transition: all 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    opacity: 1;
}

button.like:hover {
    background-color: var(--foreground);
    color: var(--background);
}

/*** Etc */

/* Prevent super and subscript from changing line height. */
sup, sub {
    vertical-align: baseline;
    position: relative;
}
sup {
    margin-left: 0.2em;
    margin-right:0.2em;
    top: -0.4em;
    font-weight: bold;
}
sub { top: 0.4em; }
