/* This style sheet configures the basic common style across the whole site */

@import url("./typeface.css");

body {
    font-family: "Charter", "Source Han Serif SC", serif;
    font-size: 14pt;
    line-height: 1.4;
    background-color: #fefefc;
    color: #202010;
    margin-bottom: 3em;
}

::selection {
    color: #fefefc;
    background-color: #202010;
}

:link, :visited {
    color: rgb(0, 112, 201);
    /* no underline */
    text-decoration: none;
}

:link:hover {
    text-decoration: underline;
}

#postamble {
    /* Misc info at the bottom */
    margin-top: 3em;
    font-size: 12pt;
}

#postamble p {
    margin-bottom: 0.5em;
    margin-top: 0em;
}

/* prevent super and subscript from changing line height */
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
sub {
    top: 0.4em;
}

/* footer */
.footdef {
    /* make footnote number and content to be on th same line */
    display: flex;
}

.footdef sup {
    top: 1pt;
}

.footpara p {
    margin-left: 1em;
}

/* Classes */

/* These are obsolete */
a.black:link {
    color: black;
}
a.black:visited {
    color: black;
}

code {
    word-break: break-all;
}
