/* This style sheet configures the basic common style across the whole
   site.  */

@import url("./typeface.css");


html {
    --background: #fafafa;
    --foreground: #202010;
}

body {
    font-family: New York Medium, Charter, Source Han Serif, serif;
    font-size: 18px;
    line-height: 1.4;
    /* background-color: #fefefc; */
    background-color: var(--background);
    color: var(--foreground);
    margin-bottom: 3em;
}

::selection {
    color: var(--background);
    background-color: var(--foreground);
}

:link, :visited {
    color: rgb(0, 112, 201);
    /* No underline. */
    text-decoration: none;
}

:link:hover {
    text-decoration: underline;
}

div#org-div-home-and-up-index-page {
    display: flex;
    justify-content: space-between;
}

#text-table-of-contents :link, #text-table-of-contents :visited, #org-div-home-and-up-index-page a {
    /* Link in TOC and headline remain black */
    Color: var(--foreground);
}


#postamble {
    /* Misc info at the bottom */
    margin-top: 3em;
    font-size: 14px;
}

#postamble p {
    margin-bottom: 0.5em;
    margin-top: 0em;
}

/* Prevent super and subscript from changing line height. */
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
sub {
    top: 0.4em;
}

/* Footer. */
.footdef {
    /* make footnote number and content to be on th same line */
    display: flex;
}

.footdef sup {
    top: 1pt;
}

.footpara p {
    margin-left: 1em;
}
