/* This style sheet configures style of the home page */

@import url("./common-style.css");

body {
    width: calc(min(38rem, 90vw));
    margin: auto;
}

.fleuron {
    display: flex;
    gap: 4rem;
    justify-content: center;
}

.menu {
    /* width: max-content; */
    /* margin: auto; */
}
