body {
    margin-left: 10px;
    line-height: 1.0;
}

dt {
    padding-top: 12px;
    font-weight: bold;
}

dd {
    padding-top: 2px;
}

.mono:lang(en-us), .mono {
    font-family: Courier, Courier New;
}

:lang(zh-Hans) {
    font-family: Songti SC;
}


.fixed-content {
    top: 0;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
}

.retro {
    background-color: #282828;
    color: #66FF66;
    text-shadow: 0 0 10px #33FF33;
}

aref:visited.retro aref:link.retro{
    color: #66FF66;
    text-shadow: 0 0 10px #33FF33;
}
