a:link {
    color: black;
}

a:visited {
    color: gray;
}

@font-face {
    font-family: "QingKeBen";
    src: url("/misc/QingKeBen.ttf");
}

img {
    width: 380px;
}

body {
    font-family: "QingKeBen";
}
