/* Montserrat typeface */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    /* Make font appear the same across safari and chrome */
    -webkit-font-smoothing: antialiased;
    margin-left: 10px;
    line-height: 1.0;
    font-size: 14pt;
    font-family: "Source Han Serif SC";
}

dt {
    padding-top: 12px;
    font-weight: bold;
}

dd {
    padding-top: 2px;
}

.mono:lang(en-us), .mono {
    font-family: Courier, Courier New;
}

:lang(zh-Hans) {
    font-family: Songti SC;
}

:lang(en-us) {
    font-family: "Source Serif Pro";
}


.fixed-content {
    top: 0;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
}

.retro {
    background-color: #282828;
    color: #66FF66;
    text-shadow: 0 0 10px #33FF33;
}

/* home */

/* @media screen and (min-width: 800px) { */
/*     div.home-container { */
/*         display: flex; */
/*         align-items: flex-start; */
/*     } */
/*     home-left, .home-middle, .home-right { */
/*         margin:auto; */
/*         /\* width: 45%; *\/ */
/*     } */
/*     body { */
/*         margin-left: 10%; */
/*     } */
/* } */

a.black:link {
    color: black;
}

a.black:visited {
    color: black;
}

/* animations */

.with-cursor {
    border-right: 1ch solid transparent;
}

.stage1 {
    white-space: nowrap;
    overflow: hidden;
    width: 2ch;
    animation: stage1-animation 1.3s steps(13) 1s 1 normal both,
               cursor-animation 1s linear 3.3 normal;
}

@keyframes stage1-animation {
    from{width: 2ch;}
    to{width: 15ch;}
}

@keyframes showup {
    from{opacity: 0;}
    to{opacity: 1;}
}


.stage2 {
    opacity: 0;
    /* sleep for 1s */
    animation: showup 0.2s steps(1) 3.3s 1 normal both;
}

.stage3 {
    border-right: 1ch solid transparent;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    width: 0ch;
    animation: stage3-animation-a 0.1s steps(1) 3.5s 1 normal both,
               /* sleep for 1.2s */
               stage3-animation-b 4.6s steps(46) 4.8s 1 normal both,
               cursor-animation 1s linear 3.5s 6.9 normal;
}

@keyframes stage3-animation-a {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes stage3-animation-b {
    from{width: 2ch;}
    to{width: 48ch;}
}
.stage4 {
    opacity: 0;
    animation: showup 0.2s steps(1) 10.4s 1 normal both;
}

.stage5 {
    opacity: 0;
    /* sleep for 0.8s */
    animation: showup 0.2s steps(1) 11.4s 1 normal both;
}

/* .stage6 { */
/*     opacity: 0; */
/*     /\* sleep for 0.8s *\/ */
/*     animation: showup 0.2s steps(1) 12.4s 1 normal both; */
/* } */
/* .stage7 { */
/*     opacity: 0; */
/*     /\* sleep for 0.8s *\/ */
/*     animation: showup 0.2s steps(1) 13.4s 1 normal both; */
/* } */
/* .stage8 { */
/*     opacity: 0; */
/*     /\* sleep for 0.8s *\/ */
/*     animation: showup 0.2s steps(1) 14.4s 1 normal both; */
/* } */

.final-cursor {
    width: 2ch;
    animation: cursor-animation 1s linear 11.4s infinite normal;
}

.home-cursor {
    width: 2ch;
    animation: cursor-animation 1s linear 0s infinite normal;
}

@keyframes cursor-animation {
    0% {border-right-color: #66FF66;}
    50% {border-right-color: #66FF66;}
    100% {border-right-color: transparent;}
}

/* Chinese font */

@font-face {
    font-family: "QingKeBen";
    src: url("../misc/QingKeBen.ttf");
}

/* English font */

@font-face {
    font-family: "Source Serif Pro";
    src: url("./misc/SourceSerifPro-Black.otf");
    font-weight: 900;
}
@font-face {
    font-family: "Source Serif Pro";
    src: url("./misc/SourceSerifPro-BlackIt.otf");
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: "Source Serif Pro";
    src: url("./misc/SourceSerifPro-Bold.otf");
    font-weight: bold;
}
@font-face {
    font-family: "Source Serif Pro";
    src: url("./misc/SourceSerifPro-BoldIt.otf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Source Serif Pro";
    src: url("./misc/SourceSerifPro-ExtraLight.otf");
    font-weight: 100;
}
@font-face {
    font-family: "Source Serif Pro";
    src: url("./misc/SourceSerifPro-ExtraLightIt.otf");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "Source Serif Pro";
    src: url("./misc/SourceSerifPro-It.otf");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Source Serif Pro";
    src: url("./misc/SourceSerifPro-Light.otf");
    font-weight: 200;
}
@font-face {
    font-family: "Source Serif Pro";
    src: url("./misc/SourceSerifPro-LightIt.otf");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: "Source Serif Pro";
    src: url("./misc/SourceSerifPro-Regular.otf");
    font-weight: normal;
}
@font-face {
    font-family: "Source Serif Pro";
    src: url("./misc/SourceSerifPro-Semibold.otf");
    font-weight: 500;
}
@font-face {
    font-family: "Source Serif Pro";
    src: url("./misc/SourceSerifPro-SemiboldIt.otf");
    font-weight: 500;
    font-style: italic;
}
