/* This style sheet configures style of the home page */

@import url("./default-style.css");

body {
    font-family: Helvetica, "Source Han Sans SC";
    /* prohibit scrolling */
    overflow: hidden;
}

/* mobile */
@media screen and (max-width: 767px) {
    #index-title {
        display: block;
        text-align: right;
        font-size:11pt;
        position: fixed;
        right: 10%;
        top: 3%;
    }
    body {
        margin-left: 5%;
        margin-right: 5%;
    }
    #title {
        margin-top: 0em;
        margin-bottom: 0em;
        font-size: 60pt;
        font-weight: bold;
    }
    #index {
        font-size: 25pt;
        table-layout: fixed;
    }
    #index td {
        width: 7em;
    }
    #diva {
        position: fixed;
        bottom: 5%;
        left: 6%;
    }
}

/* tablet, portrait */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #index-title {
        display: block;
        text-align: right;
        font-size:11pt;
        position: fixed;
        right: 7%;
        top: 5%;
    }
    body {
        margin-left: 5%;
        margin-right: 5%;
    }
    #title {
        margin-top: 0em;
        margin-bottom: 0em;
        font-size: 90pt;
        font-weight: bold;
    }
    #index {
        font-size: 25pt;
        table-layout: fixed;
    }
    #index td {
        width: 7em;
    }
    #diva {
        position: fixed;
        bottom: 7%;
        left: 7%;
    }
}

/* desktop, tablet landscape */
@media screen and (min-width: 1025px) {
    #index-title {
        display: block;
        text-align: right;
        font-size: 14pt;
        position: fixed;
        right: 7%;
        top: 4%;
    }
    body {
        margin-left: 5%;
        margin-right: 5%;
    }
    #title {
        margin-top: 0em;
        margin-bottom: 0em;
        font-size: 90pt;
        font-weight: bold;
    }
    #index {
        font-size: 25pt;
        table-layout: fixed;
    }
    #index td {
        width: 7em;
    }
    #diva {
        position: fixed;
        bottom: 7%;
        left: 7%;
    }
}

/* larger desktop */
@media screen and (min-width: 1900px) {
    #index-title {
        display: block;
        text-align: right;
        font-size: 20pt;
        margin-right: 5%;
        margin-top: 4%;
    }
    body {
        margin-left: 5%;
        margin-right: 5%;
    }
    #title {
        margin-top: 0em;
        margin-bottom: 0em;
        font-size: 150pt;
        font-weight: bold;
    }
    #index {
        font-size: 40pt;
        table-layout: fixed;
    }
    #index td {
        width: 7em;
    }
    #diva {
        position: fixed;
        bottom: 7%;
        left: 7%;
    }
}

/* black link
 *
 * the "black" class used in index.html
 * is obsolete
 */
:link, :visited {
    color: black;
}
