/* This style sheet contains all the used fonts in this site */
/* Only provide light (200), regular (400) and bold (700) weight */

/* Chinese */

/* 清刻本
 * Used in Cook as body font
 */

@font-face {
    font-family: "QingKeBen";
    src: url("./misc/QingKeBen.ttf");
}

/* 宋体
 * Used as body font for all Chinese scripts.
 * Only use light, regular and bold.
 */

/* @font-face { */
/*     font-family: "Source Han Serif SC"; */
/*     src: url("./misc/SourceHanSerifSC-ExtraLight.otf"); */
/*     font-weight: 100; */
/* } */
@font-face {
    font-family: "Source Han Serif SC";
    src: url("./misc/SourceHanSerifSC-Light.otf");
    font-weight: 200;
}
@font-face {
    font-family: "Source Han Serif SC";
    src: url("./misc/SourceHanSerifSC-Regular.otf");
    font-weight: 400;
}
/* @font-face { */
/*     font-family: "Source Han Serif SC"; */
/*     src: url("./misc/SourceHanSerifSC-Medium.otf"); */
/*     font-weight: 500; */
/* } */
/* @font-face { */
/*     font-family: "Source Han Serif SC"; */
/*     src: url("./misc/SourceHanSerifSC-SemiBold.otf"); */
/*     font-weight: 600; */
/* } */
@font-face {
    font-family: "Source Han Serif SC";
    src: url("./misc/SourceHanSerifSC-Bold.otf");
    font-weight: 700;
}
/* @font-face { */
/*     font-family: "Source Han Serif SC"; */
/*     src: url("./misc/SourceHanSerifSC-Heavy.otf"); */
/*     font-weight: 900; */
/* } */

/* 黑体
 * Used for header in Chinese,
 * For now only use regular weight.
 */

/* @font-face { */
/*     font-family: "Source Han Sans SC"; */
/*     src: url("./misc/SourceHanSansSC-ExtraLight.otf"); */
/*     font-weight: 100; */
/* } */
/* @font-face { */
/*     font-family: "Source Han Sans SC"; */
/*     src: url("./misc/SourceHanSansSC-Light.otf"); */
/*     font-weight: 200; */
/* } */
@font-face {
    font-family: "Source Han Sans SC";
    src: url("./misc/SourceHanSansSC-Regular.otf");
    font-weight: 400;
}
@font-face {
    font-family: "Source Han Sans SC";
    src: url("./misc/SourceHanSansSC-Medium.otf");
    font-weight: 500;
}
/* @font-face { */
/*     font-family: "Source Han Sans SC"; */
/*     src: url("./misc/SourceHanSansSC-SemiBold.otf"); */
/*     font-weight: 600; */
/* } */
/* @font-face { */
/*     font-family: "Source Han Sans SC"; */
/*     src: url("./misc/SourceHanSansSC-Bold.otf"); */
/*     font-weight: 700; */
/* } */
/* @font-face { */
/*     font-family: "Source Han Sans SC"; */
/*     src: url("./misc/SourceHanSansSC-Heavy.otf"); */
/*     font-weight: 900; */
/* } */

/* A hack for section headers in Note
 * section headers in Note uses Montserrat and Han Sans
 * medium (500) weight, but Han Sans' medium weight
 * is much more heavy than Montserrat, so keep weight
 * at 500 and fake a lighter Han Sans medium (with regular).
 */
@font-face {
    font-family: "Source Han Sans SC";
    src: url("./misc/SourceHanSansSC-Regular.otf");
    font-weight: 500;
}




/* English */

/* Sans */

/* Montserrat typeface
 * This is used for headers in Note
 */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@font-face {
    font-family: "Montserrat";
    src: url("./misc/Montserrat-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat";
    src: url("./misc/Montserrat-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat";
    src: url("./misc/Montserrat-Bold.ttf");
    font-weight: 700;
}


/* Serif
 * Used as body typeface for English script
 * Only provide light, regular and bold
 */

/* @font-face { */
/*     font-family: "Source Serif Pro"; */
/*     src: url("./misc/SourceSerifPro-ExtraLight.otf"); */
/*     font-weight: 100; */
/* } */
/* @font-face { */
/*     font-family: "Source Serif Pro"; */
/*     src: url("./misc/SourceSerifPro-ExtraLightIt.otf"); */
/*     font-weight: 100; */
/*     font-style: italic; */
/* } */
@font-face {
    font-family: "Source Serif Pro";
    src: url("./misc/SourceSerifPro-Light.otf");
    font-weight: 200;
}
@font-face {
    font-family: "Source Serif Pro";
    src: url("./misc/SourceSerifPro-LightIt.otf");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: "Source Serif Pro";
    src: url("./misc/SourceSerifPro-Regular.otf");
    font-weight: 400;
}
@font-face {
    font-family: "Source Serif Pro";
    src: url("./misc/SourceSerifPro-It.otf");
    font-weight: 400;
    font-style: italic;
}
/* @font-face { */
/*     font-family: "Source Serif Pro"; */
/*     src: url("./misc/SourceSerifPro-Semibold.otf"); */
/*     font-weight: 500; */
/* } */
/* @font-face { */
/*     font-family: "Source Serif Pro"; */
/*     src: url("./misc/SourceSerifPro-SemiboldIt.otf"); */
/*     font-weight: 500; */
/*     font-style: italic; */
/* } */
@font-face {
    font-family: "Source Serif Pro";
    src: url("./misc/SourceSerifPro-Bold.otf");
    font-weight: 700;
}
@font-face {
    font-family: "Source Serif Pro";
    src: url("./misc/SourceSerifPro-BoldIt.otf");
    font-weight: 700;
    font-style: italic;
}
/* @font-face { */
/*     font-family: "Source Serif Pro"; */
/*     src: url("./misc/SourceSerifPro-Black.otf"); */
/*     font-weight: 900; */
/* } */
/* @font-face { */
/*     font-family: "Source Serif Pro"; */
/*     src: url("./misc/SourceSerifPro-BlackIt.otf"); */
/*     font-weight: 900; */
/*     font-style: italic; */
/* } */
