/* Local test */
@font-face {
    font-family: "Boritina";
    src: url("/Users/yuan/Library/Fonts/aaa_Boritina-Regular.otf");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Source Han Serif SC";
    src: url("./misc/SourceHanSerifCN-Medium.subset.woff2");
    font-display: swap;
}
@font-face {
    font-family: "Source Han Serif SC";
    src: url("./misc/SourceHanSerifCN-SemiBold.subset.woff2");
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: "Source Han Serif TC";
    src: url("./misc/SourceHanSerifHK-Medium.subset.woff2");
    font-display: swap;
}
@font-face {
    font-family: "Source Han Serif TC";
    src: url("./misc/SourceHanSerifHK-SemiBold.subset.woff2");
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: "Source Han Serif JP";
    src: url("./misc/SourceHanSerifJP-Medium.subset.woff2");
    font-display: swap;
}
@font-face {
    font-family: "Source Han Serif JP";
    src: url("./misc/SourceHanSerifJP-SemiBold.subset.woff2");
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: "Source Han Serif KR";
    src: url("./misc/SourceHanSerifKR-Medium.subset.woff2");
    font-display: swap;
}
@font-face {
    font-family: "Source Han Serif KR";
    src: url("./misc/SourceHanSerifKR-SemiBold.subset.woff2");
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: "方正刘炳森隶书";
    src: url("./misc/方正刘炳森隶书.subset.woff2");
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("./misc/IBMPlexMono-Regular.ttf");
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("./misc/IBMPlexMono-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "方正FW筑紫明朝R改";
    src: url("./misc/方正FW筑紫明朝R改.woff2");
    font-display: swap;
}
@font-face {
    font-family: "方正聚珍新仿";
    src: url("./misc/方正聚珍新仿.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Martina Plantijn";
    src: url("./misc/martina-plantijn-regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Martina Plantijn";
    src: url("./misc/martina-plantijn-italic.woff2");
    font-style: italic;
}

@font-face {
    font-family: "Martina Plantijn";
    src: url("./misc/martina-plantijn-bold.woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Gooper";
    src: url("./misc/Gooper7-Regular.woff2");
}
@font-face {
    font-family: "Gooper";
    src: url("./misc/Gooper7-RegularItalic.woff2");
    font-style: italic;
}
@font-face {
    font-family: "Gooper";
    src: url("./misc/Gooper7-Medium.woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Cooper Black";
    src: url("./misc/CooperBlack.woff2");
}

@font-face {
    font-family: "Academica";
    src: url("./misc/Academica-Regular.woff");
    font-weight: 400;
}

@font-face {
    font-family: "Academica";
    src: url("./misc/Academica-Bold.woff");
    font-weight: 700;
}
