/* This style sheet contains all the used fonts in this site */
/* Only regular (400) and bold (700) weight */

@font-face {
    font-family: "Source Han Serif SC";
    src: url("./misc/SourceHanSerifSC-Regular.subset.woff2");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Source Han Serif SC";
    src: url("./misc/SourceHanSerifCN-Bold.subset.woff2");
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Source Han Serif TC";
    src: url("./misc/SourceHanSerifTC-Regular.otf");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Source Han Serif TC";
    src: url("./misc/SourceHanSerifTC-Bold.otf");
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Source Han Serif JP";
    src: url("./misc/SourceHanSerifJP-Regular.otf");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Source Han Serif JP";
    src: url("./misc/SourceHanSerifJP-Bold.otf");
    font-weight: 700;
    font-display: swap;
}

/* @font-face { */
/*     font-family: "Source Han Sans SC"; */
/*     src: url("./misc/SourceHanSansSC-Normal.subset.woff2"); */
/*     font-weight: 400; */
/*     font-display: swap; */
/* } */
/* @font-face { */
/*     font-family: "Source Han Sans SC"; */
/*     src: url("./misc/SourceHanSansSC-Bold.subset.woff2"); */
/*     font-weight: 700; */
/* } */
/* @font-face { */
/*     font-family: "Source Han Sans TC"; */
/*     src: url("./misc/SourceHanSansTC-Normal.subset.woff2"); */
/*     font-weight: 400; */
/*     font-display: swap; */
/* } */
/* @font-face { */
/*     font-family: "Source Han Sans TC"; */
/*     src: url("./misc/SourceHanSansTC-Bold.subset.woff2"); */
/*     font-weight: 700; */
/* } */
/* @font-face { */
/*     font-family: "Source Han Sans JP"; */
/*     src: url("./misc/SourceHanSansJP-Normal.subset.woff2"); */
/*     font-weight: 400; */
/*     font-display: swap; */
/* } */
/* @font-face { */
/*     font-family: "Source Han Sans JP"; */
/*     src: url("./misc/SourceHanSansSC-Bold.subset.woff2"); */
/*     font-weight: 700; */
/*     font-display: swap; */
/* } */

@font-face {
    font-family: "Charter";
    src: url("./misc/Charter Regular.otf");
    font-weight: 400;
}
@font-face {
    font-family: "Charter";
    src: url("./misc/Charter Italic.otf");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Charter";
    src: url("./misc/Charter Bold.otf");
    font-weight: 700;
}


@font-face {
    font-family: "方正刘炳森隶书";
    src: url("./misc/方正刘炳森隶书.subset.woff2");
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("./misc/IBMPlexMono-Regular.ttf");
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("./misc/IBMPlexMono-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "方正FW筑紫明朝R改";
    src: url("./misc/方正FW筑紫明朝R改.woff2");
    font-display: swap;
}
@font-face {
    font-family: "方正聚珍新仿";
    src: url("./misc/方正聚珍新仿.woff2");
    font-display: swap;
}

/**
 * @license
 * MyFonts Webfont Build ID 4175714, 2021-09-03T22:41:37-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: CooperBlackLTPro by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/cooper-black/cooper-black/
 * 
 * © 2021 MyFonts Inc
 */

@font-face {
    font-family: "Cooper Black";
    src: url("./misc/CooperBlack.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Martina Plantijn";
    src: url("./misc/martina-plantijn-regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Martina Plantijn";
    src: url("./misc/martina-plantijn-italic.woff2");
    font-style: italic;
}

@font-face {
    font-family: "Martina Plantijn";
    src: url("./misc/martina-plantijn-bold.woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Libertinus Serif";
    src: url("./misc/LibertinusSerif-Regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Libertinus Serif";
    src: url("./misc/LibertinusSerif-Italic.woff2");
    font-style: italic;
}
