/* This style sheet configures Rock/Day's style */

@import url("../../default-style.css");

img { width: 100%; }

#headings { column-count: 4; }

/* Fix: headers in columns don't align properly */
/* http://blog.room34.com/archives/5454 */
#headings > * {
    display: inline-block;
    width: 100%;
}

#headings h2 {
    font-family: "Source Serif Pro", "Source Han Serif SC", serif;
    font-size: 24px;
    font-weight: normal;
}

/* .example is to override mono font in lyric. */
body, .example {
    font-family: Source Serif Pro, Source Han Serif SC;
}

.title, h2, h3, dt { font-family: Qin Chuan; }

.title { font-size: 90px; }

/* Override default blue link. */
#headings :link, #headings :visited { color: var(--foreground); }

/* Portrait */
@media screen and (max-width: 767px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
}

/* Landscape */
@media screen and (min-width: 768px) {
    body {
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
    }
}

@media screen and (min-width: 1920px) {
    #headings { column-count: 6; }
}
