@import url("../../style.css");

@media screen and (min-width: 800px) {
    /* centered content */
    body {
        margin-left: 25%;
        margin-right: 25%;
        /* this way floating TOC wouldn't touch content */
        width: 50%;
    }
}


img {
    max-width: 300px;
    margin: auto;
}


@font-face {
    font-family: "Oil Bats";
    src: url("../../misc/OilBats.ttf");
}

@font-face {
    font-family: "Qin Chuan";
    src: url("../../misc/hanyiqinchuanfeiyi.ttf");
}

body,code, .example, .src {
    font-family: "Baskerville";
    font-size: 14pt;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6, dt {
    font-family: "Qin Chuan";
}

a:link {
    color: black;
}

a:visited {
    color: gray;
}

::selection {
    color: white;
    background-color: black;
}
