/* This style sheet configures the home page of Note */

@import url("./style.css");


/* Post headers */

/* don't number each post header */
.section-number-2 {
    display: none
}

h2 {
    /* tighter gap between posts than Note default */
    margin-top: 10pt;
}

div#content h1.title {
    font-size: 50pt;
}

/* post headers style */
div#content h2 a{
    font-weight: 500;
    font-size: 15pt;
    color: black;
}

span.tag span {
    /* headline tags */
    font-size: 9pt;
    border-width: 1px;
    border-style: solid;
    font-weight: 200;
}


/* mobile */
@media screen and (max-width: 767px) {
    div#org-div-home-and-up {
        font-size: 12pt;
    }
    div#taglist {
        display: none;
    }
    .tag {
        /* don't display tags after each post header */
        display: none;
    }
    /* post headers style */
    div#content h2 {
        margin-top: 20pt;
        /* make most post headers fit in one line */
        font-size: 12pt;
    }
}

/* tablet, portrait */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    div#taglist {
        display: none;
    }
}


/* desktop, tablet landscape */
@media screen and (min-width: 1025px) {
    /* two rows of headers */
    div#headers {
        /* margin-left: 25%; */
        column-count: 2;
        column-gap: 5%;
    }
    /* Fix: headers in columns don't align properly */
    /* http://blog.room34.com/archives/5454 */
    div#headers > * {
        display: inline-block;
        width: 100%;
    }
    /* margins */
    body {
        margin-left: 25%;
        margin-right: 15%;
        width: 60%
    }

    /* tag list on the left */
    div#taglist  {
        font-family: Montserrat;
        font-size: 12pt;
        font-weight: 500;
        position: fixed;
        overflow-y: scroll;
        overflow-x: wrap;
        top: 10%;
        left: 5%;
    }
    div#taglist p {
        /* make cursor hand on hover */
        cursor: pointer;
        margin-top: 20pt;
        border-width: 2px;
        border-style: solid;
        padding-left: 1em;
        padding-right: 1em;
        text-align: right;
    }
    div#taglist p:hover {
        background-color: black !important;
        color: white !important;
    }

    div#taglist p.noselect {
        color: gray;
        border-color: gray;
    }

    div#taglist p.include {
        color: black;
        border-color:black
    }

    div#taglist p.exclude {
        text-decoration: line-through;
    }
}
