.section-number-2 {
    display: none
}

div.outline-text-2 p {
    text-indent: 2em;
    font-size: 14pt
}

div.outline-2 {
    margin-top: 70px
}


/* mobile */
@media screen and (max-width: 767px) {
    div#org-div-home-and-up {
        font-size: 12pt;
    }
}
