.section-number-2 {
    display: none
}

div.outline-text-2 p {
    text-indent: 2em;
    font-size: 14pt
}

div.outline-2 {
    margin-top: 70px
}

@media screen and (min-width: 800px) {
    div#content {
        /* margin: auto; */
        width: 30em
    }

    body {
        /* margin-left: 20%; */
    }
}
