/* This style sheet configures the basic style of Note */

@import url("../common-style.css");
@import url("./pygment.css");

html {
    --line-length: 38rem;
}

#toc h2 {
    margin-bottom: 1rem;
}

/* Index page styles */

.index-heading div {
    display: inline-block;
    margin-right: 0.5em;
}

.index-tag span {
    font-size: 14px;
    --foreground: gray;
    color: var(--foreground);
    display: inline-block;
    margin-right: 0.7em;
}

.more-link {
    --foreground: gray;
    color: var(--foreground);
    font-size: 16px;
}

/* Topics page styles */

.topics-table td {
    padding: 0.1rem 0.5rem;
}

.topics-table td:nth-child(1) {
    vertical-align: top;
    text-align: right;
    font-variant-numeric: oldstyle-nums;
    /* For Martina Plantijn. */
    font-feature-settings: 'onum';
}

/* Portrait */
@media screen and (max-width: 1023px) {
    /* defined for all device */
    body {
        margin-left: auto;
        margin-right: auto;
        width: min(90%, var(--line-length));
    }

    #toc {
        margin-bottom: 4rem;
    }

    #toc h2 {
        margin-bottom: 1rem;
    }
}

@media print {
    #taglist {
        display: none;
    }

    .title { font-size: 40px; }

    body {
        margin: auto;
        width: 70%;
    }
}

/* Landscape */

@media screen and (min-width: 1024px) {
    html {
        --toc-width: 15rem;
        /* Left margin gets half of the extra whitespace. */
        --toc-margin-left: calc((100vw - var(--line-length) - var(--toc-width)) / 3);
    }
    body {
        margin-left: calc(var(--toc-margin-left) + var(--toc-width));
        margin-right: auto;
        margin-top: 8px;
        /* 方便中文对齐。 */
        width: var(--line-length);
    }
    /* Floating TOC */
    #toc h2 {
        margin-top: 8px;
        margin-left: 14px;
        font-size: var(--toc-size);
    }
    #toc li {
        margin-bottom: 0.2rem;
    }
    #toc {
        margin-left: var(--toc-margin-left);
        /* font-family: Helvetica, sans-serif; */
        font-size: var(--toc-size);
        text-align: left;
        position: fixed;
        overflow-y: scroll;
        overflow-x: wrap;
        left: 0;
        width: var(--toc-width);
        height: 60vh;
        top: 20vh;
        padding: 0rem 0.5rem 0.5rem 0.5rem;
        /* Hide scrollbar in Firefox */
        scrollbar-width: none;
        /* Hide scrollbar in Edge */
        -ms-overflow-style: none;
    }

    #toc {
        background:
            /* Shadow Cover TOP */
            linear-gradient(
                var(--background) 30%,
                rgba(255, 255, 255, 0)
            ) center top,

            /* Shadow Cover BOTTOM */
            linear-gradient(
                rgba(255, 255, 255, 0),
                var(--background) 70%
            ) center bottom,

            /* Shadow TOP */
            radial-gradient(
                farthest-side at 50% 0%,
                rgba(0, 0, 0, 0.18),
                rgba(0, 0, 0, 0)
            ) center top,

            /* Shadow BOTTOM */
            radial-gradient(
                farthest-side at 50% 100%,
                rgba(0, 0, 0, 0.18),
                rgba(0, 0, 0, 0)
            ) center bottom;
        background-repeat: no-repeat;
        background-size: 70% 3rem, 70% 3rem, 70% 1.5rem, 70% 1.5rem;
        background-attachment: local, local, scroll, scroll;
    }
    /* Hide scrollbar in Safari and Chrome */
    #toc::-webkit-scrollbar {
        display: none;
    }
}
