/* This style sheet configures the basic style of Note */

@import url("../common-style.css");

html {
    --landscape-body-width: 610px;
    --landscape-sidebar-width: 280px;
}

/* Index page styles */

.index-heading div {
    display: inline-block;
    margin-right: 0.5em;
}

.index-tag span {
    font-size: 14px;
    --foreground: gray;
    color: var(--foreground);
    display: inline-block;
    margin-right: 0.7em;
}

.more-link {
    --foreground: gray;
    color: var(--foreground);
    font-size: 16px;
}

/* Portrait */
@media screen and (max-width: 1023px) {
    /* defined for all device */
    body {
        margin-left: 7%;
        margin-right: 7%;
        width: 86%;
    }
}

@media print {
    #taglist {
        display: none;
    }

    .title { font-size: 40px; }

    body {
        margin: auto;
        width: 70%;
    }
}

/* Landscape */

@media screen and (min-width: 1024px) {
    body {
        margin-left: 15rem;
        margin-top: 8px;
        /* 方便中文对齐。 */
        width: 38rem;
    }
    /* Floating TOC */
    #toc h2 {
        margin-top: 8px;
        font-weight: normal;
        font-size: var(--toc-size);
    }
    #toc {
        font-family: Helvetica, sans-serif;
        font-size: var(--toc-size);
        line-height: 1.5; /* A bit more line height than body text. */
        text-align: left;
        top: 0;
        left: 0;
        bottom: 0;
        position: fixed;
        overflow-y: scroll;
        overflow-x: wrap;
        width: 200px;
        padding: 0rem 0.5rem 0.5rem 0.5rem;
        /* Hide scrollbar in Firefox */
        scrollbar-width: none;
        /* Hide scrollbar in Edge */
        -ms-overflow-style: none;
    }
    /* Hide scrollbar in Safari and Chrome */
    #toc::-webkit-scrollbar {
        display: none;
    }
}
