@import url("../style.css");

img {
    max-width: 600px;
}

code, .example, .src {
    padding: 3px;
    background-color: #F4F6F6;
    font-size: 12pt;
}

span.tag span {
    /* headline tags */
    font-size: 12pt;
    border-width: 2px;
    border-style: solid;
}

@media screen and (min-width: 800px) {
    /* floating TOC */
    #table-of-contents  {
        font-size: 12pt;
        bottom:0;
        position:fixed;
        overflow-y:scroll;
        overflow-x:hidden;
        top: 5%;
        right: 2%;
        width: 20%;
    }
    /* centered content */
    body {
        margin-left: 10%;
        margin-right: 30%;
        /* this way floating TOC wouldn't touch content */
        width: 58%;
    }
}

div#org-div-home-and-up-index-page {
    /* headline */
    display: flex;
    justify-content: space-between;
}

footdef {
    /* make footnote number and content to be on th same line */
    display: flex;
}

@font-face {
    font-family: "Campton";
    src: url("../misc/campton-light.ttf");
}

@font-face {
    font-family: "Arctic";
    src: url("../misc/Arctic.otf");
}

@font-face {
    font-family: "Joesefin Slab";
    src: url("../misc/JosefinSlab-Regular.ttf");
}


body {
    font-family: "Baskerville";
    font-size: 15pt;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6, dt {
    font-family: Courier, Monospace;
    font-weight: bold;
}

a:link {
    color: black;
}

a:visited {
    color: gray;
}

::selection {
    color: white;
    background-color: black;
}
