/* This style sheet configures the basic style of Note */

@import url("../default-style.css");

html {
    --landscape-body-width: 610px;
    --landscape-sidebar-width: 280px;
}

/* Portrait */
@media screen and (max-width: 1023px) {
    /* defined for all device */
    body {
        margin-left: 7%;
        margin-right: 7%;
        width: 86%;
    }
}

@media print {
    #taglist {
        display: none;
    }
    
    .title { font-size: 40px; }
    
    body {
        margin: auto;
        width: 70%;
    }

    pre.src * {
        color: var(--foreground) !important;
    }
}

/* Landscape */
/* Body on the right, TOC on the left. */
@media screen and (min-width: 1024px) {
    body {
        --content-margin-left:
            calc((100vw - var(--landscape-body-width)
                  - var(--landscape-sidebar-width)) / 3);

        margin-left: calc(var(--content-margin-left) +
                          var(--landscape-sidebar-width));
        width: var(--landscape-body-width);
    }
    /* Floating TOC */
    #table-of-contents {
        padding-inline-start: 0px;
        text-align: left;
        font-size: 18px;
        bottom: 0;
        position: fixed;
        overflow-y: scroll;
        overflow-x: wrap;
        top: 145px;
        left: var(--content-margin-left);
        width: var(--landscape-sidebar-width);
        /* Hide scrollbar in Firefox */
        scrollbar-width: none;
        /* Hide scrollbar in Edge */
        -ms-overflow-style: none;
    }
    /* Hide scrollbar in Safari and Chrome */
    #table-of-contents::-webkit-scrollbar {
        display: none;
    }
}
