@import url("./note-default-style.css");

/* Landscape */
@media screen and (min-width: 1024px) {
    html {
        height: 100%;
    }

    body {
        overflow-y: hidden;
        column-count: auto;
        column-width: 500px;
        column-gap: 40px;
        column-fill: auto;
        height: calc(100vh - 20px);
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .title {
        font-size: 40px;
    }

    body {
        font-size:17px;
    }

    h3 {font-size: 17px; }

    h2, h3 {
        margin-top: 1em;
        margin-bottom: 1em;
        break-after: avoid;
    }
    .src, .example, .code {
        /* Has to be visible. */
        overflow-x: visible;
        font-size: 12px;
    }

    p {
        widows: 3;
        orphans: 3;
    }

    table, .src, .example, .code, #postamble div {
        break-inside: avoid;
    }
}
