@import url("../note/style.css");

/* Tags in TOC. */
span.tag {
    float: right;
}

/* Don't show tags for headlines. */
h2 .tag {
    display: none;
}

@media screen and (min-width: 1024px) {
    #table-of-contents {
        width: calc(var(--landscape-sidebar-width) - 40px);
    }

}

body {
    line-height: 1.55;
    font-family: Charter, 方正聚珍新仿, serif;
}
